
.gradle
.gradle/
.gradle/*
.gradle/7.4/executionHistory/executionHistory.bin
build/
app/build
app/build/
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/configuration-cache/9agymq0guwp0xy5yoq88f2xu9/buildfingerprint.bin
.gradle/configuration-cache/9agymq0guwp0xy5yoq88f2xu9/work.bin
